

body, html {
  background-color: #2a2727;
  font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #333;
  font-size: 16px;
 /* direction: ltr;*/
}


.concord-img-wrapper{
    
    background-color: #2a2727;
  height : 550px;
width: 100%;
/*orientation: portrait;*/
background-image: linear-gradient(to top,rgba(0,0,0,.8) 0,rgba(0,0,0,0) 100%,rgba(0,0,0,.8) 100%);
background-image: url(images/CA-en-20220530-popsignuptwoweeks-perspective_alpha_website_small.jpg);
background-position-x: initial;
    background-position-y: initial;
    background-size: initial;
    
    background-attachment: initial;
    background-origin: initial;
    background-clip: initial;
    background-color: rgba(0, 0, 0, 0.4);
   
}
a{
  text-decoration: none;
  color: #f0f0f0;
}
.authLinks {
  float: right;
  color: #f0f0f0;
  font-weight: 700;
  font-size: 19px;
  line-height: 90px;
  border: #f0f0f0;
  padding: 5px;
}
.btnJoin{
  float: right;
}
.TitleH1{
  color: #f0f0f0;
}

.Headerr1{
  background-color: #090909;
  height: 50px;
}


header{
  height: 100px;

}

.horizontalPics {
  float: left;
  width: 25%;
  text-align: center;
  color: #fff;
  
}
.logo {
  float: left;
}
.authLinks.redButton {
  background-color: #e50914;
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  text-decoration:none;
  float: right;
}
.authLinks.redButton a{
  color: aliceblue;
  padding: 5px;
}

.authLinks.BlackButton{
  color: aliceblue;
  padding: 5px;
  border-color:aliceblue ;
  background-color: #090909;
  line-height: normal;
  padding: 7px 17px;
  font-weight: 400;
  font-size: 1rem;
  text-decoration:none;
  float:right;
}

.Collections{
 height: 90px;
 
}


.our-story-card-background {
    z-index: 0;
    position: absolute;
    top: -70px;
    left: 0;
    right: 0;
    bottom: 10;
    overflow: hidden;
   
}
h1{
  color: aliceblue;
  font-size: xxx-large;
}


h2{
  color: aliceblue;
}

h4{
  color: aliceblue;
  font-size: xx-large;
}
h3{
  color: aliceblue;
}

h5{
  color: aliceblue;
}

.contaner{
  background-color: black;
  height: 400px;

  
  
}


.our-story-card-text{
width:52%;
height: 100%;
top:100px;
bottom: 80px;
padding: 0 3rem 0 0 ;


}
.container{
  background-color: black;
  height: 400px;
  
}

.photoTv{
  position: relative;
  overflow: hidden;
  margin: -10% -5% -5% 0;
  z-index: 2;
 
}

.downloadPic{
  top: 100%;
}

.contaner{

  background-color: black;
  height: 400px;
 top: 20%;
}
.Conn{
  align-items: center;
 margin: 0 auto;
 justify-content: space-between;
 border-radius: 20%;
}
.contaner{
  padding: 70px 45px;
    padding-top: 70px;
    padding-right: 45px;
    padding-bottom: 70px;
    padding-left: 45px;
}
.container1{
  background-color: black;
  height: 400px;
}

.container2{
  background-color: black;
  height: 400px;
}

.container3{
  background-color: black;
  height: 700px;
}

.name{
  background-color: gray;
  top: 80;
}

input{
  background-color: gray;
  height: 80px;
  width: 500px;
top: 80;
}

.footerLink{
  float: right;
}

footer{
  background-color: black;
  height: 300px;
}

table{
  table-layout: fixed;
  width: 100%;
  
}
th{
  padding-left: 50px;
}
.tv{
 right: 100;
}

.SignIn-form{
  margin-bottom: 0;
  background-color: rgba(0,0,0,.75);
  border-radius: 4px;
  padding: 20px 0 30px;
  float: center;
  box-sizing: border-box;
  width: 30%;
  margin: 0;
}
.SignInF{
  float: center;
  width: 100%;
}

.btn-login{
  background-color:red ; 
  border-color: red; 
  height:70px; 
  width:100%; 
  color: white;
  padding: 30px 38px 10px;
}
label{
  color: #fff;
    position: relative;
    display: block;
    line-height: 1.2;
}

.login-help-link{
  float: right;
}

.FooterS{
  min-width: 190px;
    width: 100%;
    margin-top: 50px;
    padding-bottom: 90px;
    font-size: 1em;
    color: #757575;
    position: relative;
    margin-top: 0;
    background: rgba(0,0,0,.75);
    height: 200px;
}